corytodd.us {
	header /.well-known/matrix/* Content-Type application/json
	header /.well-known/matrix/* Access-Control-Allow-Origin *

	respond /.well-known/matrix/server `{"m.server":"matrix.corytodd.us:443"}`
	respond /.well-known/matrix/client `{
		"m.homeserver": {
			"base_url": "https://matrix.corytodd.us"
		},
		"org.matrix.msc4143.rtc_foci": [
			{
				"type": "livekit",
				"livekit_service_url": "https://livekit.corytodd.us"
			}
		]
	}`

	respond 404
}

matrix.corytodd.us {
	respond /_version `{"sha":"{env.GIT_SHA}"}`
	reverse_proxy tuwunel:6167
}

livekit.corytodd.us {
	handle /sfu/* {
		reverse_proxy lk-jwt-service:8080
	}
	handle {
		reverse_proxy host.docker.internal:7880
	}
}
